
// 单行文本溢出掩藏
@mixin text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;

    white-space: nowrap;
}

// 多行文本溢出掩藏
@mixin text-ellipsis-box($orient: vertical, $clamp: 2) {
    text-overflow: ellipsis;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: $orient;
    -webkit-line-clamp: $clamp;    
}

// 实现三角形的效果(向上)
@mixin triangle($color: red) {      
    width: 0;      
    height: 0;      
    border-right: 20px solid transparent;      
    border-left: 20px solid transparent;      
    border-bottom: 20px solid $color;  
}

// flex实现垂直居中
@mixin flex-center {    
    display: flex;      
    justify-content: center;      
    align-items: center;
}

// flex实现垂直居中
@mixin grid-item-center {    
    // display: grid;
    align-self: center;
    justify-self: center;
}

// css3 实现阴影效果
@mixin shadow ($color: red) {  
    box-shadow: 2px 2px 2px 2px $color inset;
}

@mixin table-cell-center {  
    display: table-cell;
    vertical-align: middle;
}

// 水平垂直居中
@mixin absolute-center {  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


// 设置 input placeholder 的颜色
// div::-webkit-input-placeholder, 
// div:-moz-placeholder, 
// div::-moz-placeholder, 
// div:-ms-input-placeholder {
//     color: #999
// }
