
/* css 一行文本超出... */
.text-nowarp{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/* 多行文本超出显示... */
.text3-nowarp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* IOS 手机容器滚动条滑动不流畅 */
.webkit-scrolling{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* position 水平垂直居中 */
.position-center{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* 父级控制子集居中 */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
