
// :root[theme='dark'] {
//     --red-hue: 360;
//     --blue-hue: 240;
//     --green-hue: 120;
//     --main-hue: var(--blue-hue);
//     --nav-bg-color: hsl(var(--main-hue), 50%, 90%);
//     --nav-text-color: hsl(var(--main-hue), 50%, 10%);
//     --container-bg-color: hsl(var(--main-hue), 50%, 95%);
//     --content-text-color: hsl(var(--main-hue), 50%, 50%);
//     --title-color: hsl(--main-hue, 50%, 20%);
//     --footer-bg-color: hsl(var(--main-hue), 93%, 88%);
//     --button-text-color: hsl(var(--main-hue), 50%, 20%);
//     filter: invert(1) brightness(0.6);
// }


@charset "utf-8";
* {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

.noscrollbar {
    &::-webkit-scrollbar {
        width: 0 !important;
    }
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background-color: unset;
}

::-webkit-scrollbar-thumb {
    background-color: unset;
}

::-webkit-scrollbar-thumb:hover {
    background-color: unset;
}

::-webkit-scrollbar-thumb:active {
    background-color: unset;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

em,
i {
    font-style: normal;
}

.flex {
    display: flex;
}

.fjc {
    justify-content: center;
}

.fac {
    align-items: center;
}

.van-nav-bar .van-icon {
    color: #000;
}

